<footer class="site-footer">

  {% include links.html %}

</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/5.3.4/js/jquery.mmenu.min.all.js"></script>
<script>
  $(document).ready(function() {
    $("#my-menu").mmenu({
      extensions: ["border-none","theme-dark"],
      searchfield: true,
      counters: true
    });
  });
</script>
