<footer class="site-footer">
  {% include links.html %}

  © {{ site.time | date: "%Y" }}. All rights reserved.
</footer>
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jQuery.mmenu/6.1.8/jquery.mmenu.all.js"></script>

<script>
  $(document).ready(function() {
    $("#my-menu").mmenu({
      extensions: ["border-none","theme-dark"],
      searchfield: true,
      counters: true
    });
  });
</script>
<script src="/assets/js/youtube.js"></script>
<script src="/assets/js/go_top.js"></script>

{% include google_analytics.html %}
